*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    margin: 0px;
   
    overflow: hidden;
    overflow: scroll;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
#head{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
#logo{
    height: 50px;
    width: 129px;
    /* border: 2px solid white; */

}
#logoanc{
    height:50px ;
    width: 128px;
}

#address{
    height: 50px;
    width: 90px;
    /* border: 2px solid white; */
    padding: 2px;
    display: flex;
    flex-direction: row;
}
#addressicon{
   height: 18px;
   width: 15px;
   margin-top: 18px;
   

}
#addresscontanier{
    display:flex ;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
#addressdeliver{
    font-size: 13px;
    margin-top: 12px ;
    margin-left: 7px;
    opacity: 0.8;
    
}
#addressplace{
    font-size: 14px;
    margin-left: 7px;
    font-weight: bold;
}
#serch{
   height: 40px;
   width: 860px;
   display: flex;
   flex-direction: row;
   align-items: center;
   border-radius: 10px;
}
#searchdrop{
    height: 40px;
    width: 55px;
    border: 2px solid white;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
#searchtype{
   height: 38px;
   width: 760px;
   border: none;
   font-size: 14px;
}
#searchbtn{
   height: 40px; 
   width: 45px;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border: none;
   background-color:#febd68 ;
}


#language{
    height: 50px;
    width: 74px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
#languagelogo{
    height: 20px;
    width: 22px;
    margin-left: 5px;
}
#languagedrop{
    height: 30px;
    width: 45px;
    font-size: 14px;
    background-color:#0f1111 ;
    color: white;
    font-weight: bold;
    border: none;
}
#account{
    height: 50px;
    width: 132px;
    /* border: 2px solid white; */
   display: flex;
   flex-direction: row;
    
}
#accountwrite{
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    margin-left: 5px;
}
.upperpara{
    font-size: 12px;

}
.lowerpara{
    font-size: 14px;
    font-weight: bold;
}
#accountdrop{
    margin-top:23px ;
    
    background-color: #0f1111;
    color: white;
    border: none;
}
#retord{
    height: 50px;
    width: 77px;
    /* border: 2px solid white; */
    
}
#retordercontent{
    margin-left: 6px;
    margin-top: 9px;
}
#cart{
    height: 50px;
    width: 84px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    text-align: center;
}
#cartlogo{
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-top: 1px;
   

}
#carttext{
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 25px;
}
#menu{
    height: 35px;
    background-color: #222f3d;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
}  
#menuicon{
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
}

#menulogo{
    /* height: 20px;
    width: 17px; */
    font-size: 20px;
    color: white;
    margin-right: 4px;
}
#menulogotext{
    font-size: 15px;
    color: white;
    font-weight: bold;
    
   
}
#menuitem{
   
    height: 40px;
    width: 460px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 14px;
    font-weight: 800px;
}
/* #menuitemstyle{
    height: 40px;
    
} */
#mainhead{
    height: 100vh;
    width:100%;
    background-image: url("firstbacground.png");
    background-size: cover;



}
#slideicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1550px;

}
.slideiconstyle{
   font-size: 34px;
   font-weight: 400px;
    margin-left: 20px;
    margin-top: 110px;
    
}
.slideiconsize{
    height: 250px;
    width: 80px;
   
}
#cardtext{
    height: 40px;
    width: 1460px;
    background-color: #f5f6f6;
    margin-left: 32px;
    text-align: center;
    margin-bottom: 15px;
}
#cardtextstyle{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
   opacity: 0.7;
   margin-top: 10px;
   line-height: 40px;
}
#cardtextstyle a {
    text-decoration: none;
    color:#007185;
    
}
#secondbackground{
    width: 100%;
    height: 450px;
    background-image: url("secondbackground.png");
    background-size: cover;
    margin-top: -27px;
}
#cards{
    height: 440px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
    
 }
 .cardsdiv{
    height: 420px;
    width: 350px;
    background-color: white;
    
 
 }
 .cardsheading{
    margin-top: 20px;
    margin-left: 18px;
    font-size: 21px;
 }
 /* .cardsitems{
    
 } */
 .cardssmallcont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
 }
 .smallimg{
    height: 130px;
    width: 165px;
 }
 .cardsitemtext{
    margin-left: 18px;
    font-size: 12px;
 }
 .cardsseemore a{
    text-decoration: none;
    font-size: 13px;
    color:#007185;
   
    margin-left: 18px;
   
 }
 .cardsseemore{
    margin-top: 25px;
 }
.cards2{
    margin-left: 6px;
    margin-top: 5px;
 }
 .cardsbigimgcont{
    margin-top: 14px;
    margin-left: 14px;
 }
 .cardsbigimgcont img{
    height: 300px;
    width: 320px;
   

 }
 #downsingupcont{
    height: 126px;
    width: 1509px;
    border: 2px solid #DDD;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 /* #downsingup{
    margin: auto;
 } */

 #downsingupbtn{
    
    
    text-align: center;
   background-color: #febd68;
    height: 28px;
    width: 230px;
    border: none;
    border-radius: 4px;
    border: 1px solid #febd68;
    margin-top: 6px;
    margin-bottom:6px ;
    font-size: 12px;
    font-weight: bold;
 }
 #downsinguptext{
    font-size: 13px;
 }
 #downsinguptextdown{
    font-size: 11px;
 }
 #downsinguptextdown a{
    text-decoration: none;
    color:#007185;
 }
 #backtotop{
    height: 49px;
    width: 100%px;
    background-color: #37475a;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    line-height: 49px;
 }
 #middlefooter{
    height: 450px ;
    width: 100%;
    background-color: #222F3d;
 }
 #middlefootercont{
    height: 300px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    color: white;
    margin-left: 240px;
    
   

 }
 ul p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
 }
 ul a{
    display: block;
    margin-top: 12px;
    text-decoration: none;
    color: #dddddd;
    /* opacity: 0.7; */
    font-size: 14px;
 }
 #footermiddleline{
    height: 0.1px;
    width: 100%px;
    color: white;
    background-color: white;
    opacity: 0.1;
 }
 #footermiddlelogocontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 #footeramazonlogo{
    height: 30px;
    width: 78px;
    color: white;
    margin-top: 35px;
    /* margin-left: 670px; */
    margin-right: 15px;
 }
 #footermiddleflag{
    display:inline-block ;
    display: flex;
    height: 34px;
    width: 90px;
    border: 0.1px solid rgb(256, 256, 256,0.4);
    margin-top: 29px;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 2px;
    margin-right: 5px;
    

   
 }
 #endfooter{
    height: 300px;
    width: 100%;
    background-color: #131A22;
 }
 #endfootercontainer{
    height: 200px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    /* align-items: center; */
    margin-left: 250px;
   
 }
 #endfooterstyle{
    width: 100px;
    height: 80px;
    margin-top: 30px;
    margin-left: 40px;
 }
 #endfooterstyle a{
    text-decoration: none;
    font-size: 12px;
    color: #DDD;
 }
 #endfooterstyle span{
    display: block;
    color: #DDD;
    opacity: 0.7;
 }